<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mark Saiget | Learning Journal</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
    <header>
      <a href="index.html" id="logo">
        <h1>Mark Saiget</h1>
        <h2>Learning Journal</h2>
      </a>
      <aside id="user-controls">
        <ul>
        {% if not request.authenticated_userid %}
          <li><a href="{{ request.route_url('login') }}">log in</a></li>
        {% else %}
          <li><a href="{{ request.route_url('logout') }}">log out</a></li>
        {% endif %}
        </ul>
      </aside>
      <nav>
        <ul>
          <li><a href="/" class="selected">Portfolio</a></li>
          <li><a href="new.html">New</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>My Python Journal</h1>
      <section id="content">
      {% block body %}{% endblock %}
      </section>
    </main>
    <footer>
      <ul>
        <li class="github"><a href="https://github.com/bm5w">Github</a></li>
        <li class="mail"><a href="mailto:saiget@gmail.com">Email</a></li>
        <li class="phone"><a href="tel:360-903-5027">(360) 903-5027</a></li>
        <li><p>&copy; 2015 Mark Saiget.</p></li>
      </ul>
    </footer>
  </body>
</html>