{% extends "base.jinja2" %}
{% block body %}



  <aside>
    <form action="" method="POST" class="add_entry" id="edit">
      <div class="field">
        <label for="title">Title</label>
        <input type="text" size="30" name="title" id="title" value="{{ entry.title }}"/>
      </div>
      <div class="field">
        <label for="text">Text</label>
        <textarea name="text" id="text" rows="5" cols="80">{{ entry.text }}</textarea>
      </div>
      <div class="control_row">
        <input type="submit" value="Share" name="Share"/>
      </div>
    </form>
  </aside>



  <div id='wrapper'>
    <ul id="gallery">
      <article class="entry" id="{{entry.id}}">
        <h3>{{ entry.title }}</h3>
        <p class="dateline">{{ entry.created.strftime('%b. %d, %Y') }} </p>
        <div class="text">{{ entry.display_text | safe }} </div>
        {% if request.authenticated_userid %}
        <a href="{{ request.route_url('edit', id=entry.id) }}">Edit</a>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="" data-via="MarkSaiget">Tweet</a>
        {% endif %}
      </article>
    </ul>
  </div>

  <script>
    var twit = $(".twitter-share-button").clone();

    $("#edit").hide();

    $(".twitter-share-button").attr('data-text', $('#title').val())
    $.getScript("http://platform.twitter.com/widgets.js");

    $("article").children().last().prev().click( function(click) {
      $("#edit").show();
      $("article").hide();
      click.preventDefault();
    });

    $("form").submit(function(submission) {

      var title_input = $('#title').val();
      var text_input = $('#text').val();
      var entry_id = $('article').attr('id');

      $.ajax({
        type: "POST",
        url: "/edit",
        dataType: "json",
        data: { id: entry_id, title: title_input, text: text_input },
      }).done(function(json) {
        $("article h3").text(json.title);

        $("iframe").remove();
        twit.attr('data-text', json.title);
        $("article").children().last().after(twit);
        twit = $(".twitter-share-button").clone();
        twttr.widgets.load();

        $("article div.text p").replaceWith(json.text);

        $("#edit").hide();
        $("article").show();
      });

      submission.preventDefault();

    })
  </script>

{% endblock %}